body{
    background: url(/img/img-1.jpg);
}

.out-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 30px;
    font-family: sans-serif;
    margin: 15px;
}

#result{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 30px;
    height: 60px;
}

#container{
    /* margin-top: 100px; */
    display: flex;
    /* width: 600px; */
    /* height: 600px; */

    align-self: center;
    /* margin: 100 px auto auto auto; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.col-null{
    width: 25px;
    height: 25px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: 5px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.3);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

.col-final{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.3);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

.col-vertical{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25px;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.col-horizontal{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50px;
    height: 25px;
    /* background-color: rgba(0, 0, 0, 0.1); */
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

/* .blue{
    background-color: blue;
} */

/* .index-cell{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.1);
    margin: 5px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
} */

p{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 0;
}

#expression{
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.1); */
    align-items: center;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    font-size: 80px;
    border: none;
    background-color: transparent;
    /* border: none; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}