.out-container{
    display: flex;
    justify-content: center;
}

.container{
    margin-top: 100px;
    display: flex;
    /* width: 600px; */
    /* height: 600px; */

    align-self: center;
    /* margin: 100 px auto auto auto; */
    background-color: rgba(0, 0, 0, 0.1);
}

.col{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px;
}